<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'alt/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div style='margin-top: 100px;margin-bottom: 5px;border: solid 1px;width: 100%;'>
            <h1 style='text-align: center;'>{{ employee_obj.employee_name }}</h1>
        </div>  
        <div>
            <table style='margin:auto;width: 100%;'>
                <tr>
                    <td style='margin:auto;width: 50%;'>
                        <table style='margin:auto;width: 100%;'>
                            <tr>
                                <td style='margin:auto;width: 25%;border: solid 1px;padding: 5px;'>Employee ID</td>
                                <td style='margin:auto;width: 25%;border: solid 1px;padding: 5px;'>{{ employee_obj.employee_id }}</td>
                            </tr>
                            <tr>
                                <td style='margin:auto;width: 25%;border: solid 1px;padding: 5px;'>IEX ID</td>
                                <td style='margin:auto;width: 25%;border: solid 1px;padding: 5px;'>{{ employee_obj.employee_iex_id }}</td>
                            </tr>
                            <tr>
                                <td style='margin:auto;width: 25%;border: solid 1px;padding: 5px;'>Wave</td>
                                <td style='margin:auto;width: 25%;border: solid 1px;padding: 5px;'>{{ employee_obj.employee_wave }}</td>
                            </tr>
                        </table>
                    </td>
                    <td style='margin:auto;width: 50%;'>
                        <table style='margin:auto;width: 100%;'>
                            <tr>
                                <td style='margin:auto;width: 25%;border: solid 1px;padding: 5px;'>Team Leader</td>
                                <td style='margin:auto;width: 25%;border: solid 1px;padding: 5px;'>{{ employee_obj.employee_team_leader }}</td>
                            </tr>
                            <tr>
                                <td style='margin:auto;width: 25%;border: solid 1px;padding: 5px;'>Manager</td>
                                <td style='margin:auto;width: 25%;border: solid 1px;padding: 5px;'>{{ employee_obj.employee_manager }}</td>
                            </tr>
                            <tr>
                                <td style='margin:auto;width: 25%;border: solid 1px;padding: 5px;'>Hire Date</td>
                                <td style='margin:auto;width: 25%;border: solid 1px;padding: 5px;'>{{ employee_obj.employee_hire_date|date:'m-d-Y' }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>